head
{
    margin: 20px;
    margin-bottom: 40px;
}


ul
{
}

li
{
    display: inline;
    margin: 20px;
}

a
{
    display: inline;
    color: black;
}
a::after
{
    color: black;
}

a::before
{
    color: black;
}

#hogna-icon
{
    width: auto;
    height: 50px;
    float: left;
}

#duwo-mynd
{
    width: auto;
    height: 200px;
    opacity: 80%;
}

#duwo-mynd:hover
{
    opacity: 100%;
}
